header>a {
    padding: 5px;
}

body::before {
    content: "";
    /* Important */
    z-index: -1;
    /* Important */
    position: fixed;
    left: inherit;
    top: inherit;
    width: 110%;
    height: 110%;
    background-image: inherit;
    background-size: cover;
    filter: blur(8px) invert() brightness(0.3);
}


body {
    background-image: url("https://begulathemoai.dev/images/shared/botw-concept-art.jpg");
    background-size: 0 0;
    /* Image should not be drawn here */
    width: 100%;
    height: 100%;
    position: absolute;
    /* Or absolute for scrollable backgrounds */
    display: grid;
    align-self: center;
    justify-self: center;
    justify-items: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

* {
    text-shadow: 1px 1px 10px black;
    transition: all 0.2s;
}

img {
    border-color: white;
    border-width: 4px;
    border-style: dashed;
}

a {
    color: white;
    text-decoration: underline dotted;
}

a:hover {
    text-shadow: 1px 1px 10px white;
}

div {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    justify-items: center;
    align-items: center;
    display: block;
}